body{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    color: burlywood;
    text-decoration: underline;
}
body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #3498db;
    color: white;
}

.btn {
    padding: 6px 12px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}

.add-btn {
    background: green;
}

.edit-btn {
    background: orange;
}

.delete-btn {
    background: red;
}
